<div class="container-fluid">
    <div class="panel panel-default">
        <div class="panel-heading clearfix">
            <label class="panel-title pull-left"><translate>Leilão Premium</translate></label>
        </div>
        <div class="panel-body">
            <form name="produtosForm" novalidate autocomplete="off">
                <fieldset>
                    <legend>
                        <label class="control-label"><translate>Leilão Premium</translate></label>
                    </legend>
                </fieldset>
                <div class="row">
                    <div class="col-md-4" style="width: 85%">
                        <div class="row">
                            <div class="col-md-4">
                                <label class="control-label"><translate>Cliente</translate><span>:</span></label>
                                <select class="form-control dropdown-toggle texto bordaLaranja"
                                        data-ng-model="fieldsInfo[3].value" id="filterExercicioInicial" name="filterExercicioInicial"
                                >
                                    <option value="">Selecione</option>
                                    <option value="1">RICARDO ELETRO</option>
                                    <option value="2">SAGA</option>
                                    <option value="3">PARK SHOPPING</option>
                                </select>
                            </div>

                            <div class="col-md-4">
                                <label class="control-label"><translate>Título</translate><span>:</span></label><br>
                                <select class="form-control dropdown-toggle texto bordaLaranja"
                                        data-ng-model="fieldsInfo[4].value" id="filterImpressao" name="filterImpressao"
                                >
                                    <option value="">Selecione</option>
                                    <option value="1">Saldão 1</option>
                                    <option value="2">Saldão 2</option>
                                    <option value="3">Saldão 3</option>
                                </select>
                            </div>
                            <div class="col-md-4">
                                <label>Verba (R$):</label>
                                <input class="form-control" type="text" name="field" ng-model="money" ui-money-mask >
                            </div>
                        </div>
                        <br>
                        <div class="row">
                            <div class="col-md-4">
                                <label class="control-label"><translate>Mercado</translate><span>:</span></label><br>
                                <select class="form-control dropdown-toggle texto bordaLaranja"
                                        data-ng-model="fieldsInfo[4].value" id="filterImpressao" name="filterImpressao"
                                >
                                    <option value="">Selecione</option>
                                    <option value="1">Brasília</option>
                                    <option value="2">São Paulo</option>
                                </select>
                            </div>
                            <div class="col-md-4">
                                <label class="control-label"><translate>Target</translate><span>:</span></label><br>
                                <select class="form-control dropdown-toggle texto bordaLaranja"
                                        data-ng-model="fieldsInfo[4].value" id="filterImpressao" name="filterImpressao"
                                >
                                    <option value="">Selecione</option>
                                    <option value="1">AS/AB/25+</option>
                                    <option value="2">AS/ABC/25+</option>
                                    <option value="3">AS/ABCDE/25+</option>
                                    <option value="4">AS/C/25+</option>
                                    <option value="5">AS/CDE/25+</option>
                                </select>
                            </div>
                            <div class="col-md-4">
                                <label class="control-label">Possui Carta Acordo:</label><br>
                                <label><input type="checkbox" value=""></label>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4" style="width: 15%;" align="left">
                        <div class="col-md-12">
                            <div class="text-right">
                                <img src="app/logo_globo.png" width="150" height="150">
                            </div>
                        </div>
                    </div>
                </div>

                <br>
                <div class="row">
                    <div class="col-md-12">
                        <div class="text-right">
                            <button type="button" class="btn btn-warning botao" title="Executar" data-ng-click="executar();">
                                <span class="glyphicon glyphicon-play">&nbsp;</span> Executar
                            </button>
                        </div>
                    </div>
                </div>
                <br>

                <div class="table-responsive">
                    <table class="table table-hover">
                        <thead>
                        <tr>
                            <th class="col-md-2">Total de Espectadores</th>
                            <th class="col-md-3">Participação Target</th>
                            <th class="col-md-2">Universo Target</th>
                            <th class="col-md-2">Período Pesquisa</th>
                            <th class="col-md-1">Saldo</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <td class="text-center">2.971.605</td>
                            <td class="text-center">66,91%</td>
                            <td class="text-center">1.988.301</td>
                            <td class="text-center">01/2017</td>
                            <td class="text-center">R$ {{saldo}}</td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </form>
            <br>

            <div class="table-responsive" data-ng-show="listaProdutos.length > 0">
                <table class="table table-bordered table-striped">
                    <thead>
                        <tr>
                            <th class="col-md-1">Faixa horária</th>
                            <th class="col-md-1">Programas disponiveis Segunda a Quinta D+1 - Sexta D+3</th>
                            <th class="col-md-1">Valor líquido</th>
                            <th class="col-md-1">CPM TGT líquido</th>
                            <th class="col-md-1">Afinidade > 100</th>
                            <th class="col-md-1">Total telespect.</th>
                            <th class="col-md-1">Total telespect. no TGT</th>
                            <th class="col-md-1">Lance CPM (30%)</th>
                            <th class="col-md-1">Valor final</th>
                            <th class="col-md-1">BID</th>
                            <th class="col-md-1">Lance cliente</th>
                            <th class="col-md-1">Lance concorrente</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr data-ng-repeat="item in listaProdutos">
                            <td class="text-left">{{item.faixaHorario}}</td>
                            <td class="text-left">{{item.programaDisponivel}}</td>
                            <td class="text-left">R{{item.valorLiquido | currency}}</td>
                            <td class="text-right">R{{item.cpmtgt | currency}}</td>
                            <td class="text-left">{{item.afinidade}}</td>
                            <td class="text-left">{{item.totalTelespec}}</td>
                            <td class="text-left">{{item.totalTelespecTGT}}</td>
                            <td class="text-left">R{{item.lanceCPM | currency}}</td>
                            <td class="text-left">R{{item.valorFinal | currency}}</td>
                            <td class="text-left">
                                <button type="button" class="btn btn-default botao" title="BID" data-ng-click="bid(item);" style="color: white;">
                                     +10%
                                </button>
                            </td>
                            <td class="text-left">R{{item.valorCliente | currency}}</td>
                            <td class="text-left">R{{item.valorConcorrente | currency}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>

        </div>
    </div>
</div>
