<div class="container-fluid">
    <div class="panel panel-default">
        <div class="panel-heading clearfix">
            <label class="panel-title pull-left"><translate>Leilão Premium</translate></label>
        </div>
        <div class="panel-body">
            <form name="produtosForm" novalidate autocomplete="off">
                <fieldset>
                    <legend>
                        <label class="control-label"><translate>Leilão Premium</translate></label>
                    </legend>
                </fieldset>
                <div class="row">
                    <div class="col-md-4">
                        <label class="control-label"><translate>Cliente</translate><span>:</span></label>
                        <select class="form-control dropdown-toggle texto bordaLaranja"
                                data-ng-model="fieldsInfo[3].value" id="filterExercicioInicial" name="filterExercicioInicial"
                                data-ng-options="reg for reg in formBean.exercicios track by reg">
                            <option value="">Selecione</option>
                        </select>
                    </div>

                    <div class="col-md-4">
                        <label class="control-label"><translate>Título</translate><span>:</span></label><br>
                        <select class="form-control dropdown-toggle texto bordaLaranja"
                                data-ng-model="fieldsInfo[4].value" id="filterImpressao" name="filterImpressao"
                                data-ng-options="reg.codigo as reg.nome for reg in formBean.responsaveisImpressao">
                            <option value="">Selecione</option>
                        </select>
                    </div>
                    <div class="col-md-4">
                        <label>Verba (R$):</label>
                        <input class="form-control">
                    </div>
                </div>
                <br>

                <div class="row">
                    <div class="col-md-4">
                        <label class="control-label"><translate>Mercado</translate><span>:</span></label><br>
                        <select class="form-control dropdown-toggle texto bordaLaranja"
                                data-ng-model="fieldsInfo[4].value" id="filterImpressao" name="filterImpressao"
                                data-ng-options="reg.codigo as reg.nome for reg in formBean.responsaveisImpressao">
                            <option value="">Selecione</option>
                        </select>
                    </div>
                    <div class="col-md-4">
                        <label class="control-label"><translate>Target</translate><span>:</span></label><br>
                        <select class="form-control dropdown-toggle texto bordaLaranja"
                                data-ng-model="fieldsInfo[4].value" id="filterImpressao" name="filterImpressao"
                                data-ng-options="reg.codigo as reg.nome for reg in formBean.responsaveisImpressao">
                            <option value="">Selecione</option>
                        </select>
                    </div>
                    <div class="col-md-4">
                        <label class="control-label">Possui Carta Acordo:</label><br>
                        <label><input type="checkbox" value=""></label>
                    </div>
                </div>
                <br>
                <div class="row">
                    <div class="col-md-12">
                        <div class="text-right">
                            <button type="button" class="btn btn-warning botao" title="Executar" data-ng-click="executar();">
                                <span class="glyphicon glyphicon-play">&nbsp;</span> Executar
                            </button>
                        </div>
                    </div>
                </div>
                <br>

                <div class="table-responsive">
                    <table class="table table-hover">
                        <thead>
                        <tr>
                            <th class="col-md-2">Total de Espectadores</th>
                            <th class="col-md-3">Participação Target</th>
                            <th class="col-md-2">Universo Target</th>
                            <th class="col-md-2">Período Pesquisa</th>
                            <th class="col-md-1">Saldo</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <td class="text-center">2.971.605</td>
                            <td class="text-center">66,91%</td>
                            <td class="text-center">1.988.301</td>
                            <td class="text-center">01/2017</td>
                            <td class="text-center">0,00</td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </form>
            <br>

            <div class="table-responsive" data-ng-show="listaProdutos.length > 0">
                <table class="table table-bordered table-striped">
                    <thead>
                        <tr>
                            <th class="col-md-1">Faixa horária</th>
                            <th class="col-md-1">Programas disponiveis Segunda a Quinta D+1 - Sexta D+3</th>
                            <th class="col-md-1">Valor líquido</th>
                            <th class="col-md-1">CPM TGT líquido</th>
                            <th class="col-md-1">Afinidade > 100</th>
                            <th class="col-md-1">Total telespect.</th>
                            <th class="col-md-1">Total telespect. no TGT</th>
                            <th class="col-md-1">Lance CPM (30%)</th>
                            <th class="col-md-1">Valor final</th>
                            <th class="col-md-1">BID</th>
                            <th class="col-md-1">Lance cliente</th>
                            <th class="col-md-1">Lance concorrente</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr data-ng-repeat="item in listaProdutos">
                            <td class="text-left">{{item.faixaHorario}}</td>
                            <td class="text-left">{{item.programaDisponivel}}</td>
                            <td class="text-left">{{item.valorLiquido}}</td>
                            <td class="text-right">{{item.cpmtgt}}</td>
                            <td class="text-left">{{item.afinidade}}</td>
                            <td class="text-left">{{item.totalTelespec}}</td>
                            <td class="text-left">{{item.totalTelespecTGT}}</td>
                            <td class="text-left">{{item.lanceCPM}}</td>
                            <td class="text-left">{{item.valorFinal}}</td>
                            <td class="text-left"></td>
                            <td class="text-left">{{item.valorCliente}}</td>
                            <td class="text-left">{{item.valorConcorrente}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>

        </div>
    </div>
</div>
